h1 {
    text-align: center;
}

.hilal1 {
    background-color: teal;
}

#hilal2 {
    background-color: brown;
    color: chocolate;
}
  body {
      background-color: #80BEE6;
            font-family: Italic;
            text-align: center;
            margin: 25px;
        }
    iframe {
            width: 80%;
            height: 300px;
            border: 2px solid #333;
        }
    .custom-div {
            background-color: #f0f0f0;
            padding: 10px;
            margin: 20px;
        }
    .custom-span {
            color: #007bff;
            font-weight: bold;
        }
    h2 {
        color:teal;
        text-align: center;
    }
    .hello {
        color:blueviolet;
        background-color: antiquewhite;
    }
 /* Class Selector */
        .nav-bar {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }

        /* Element Selector */
        div.content {
            padding: 20px;
        }

        /* Descendant Selector */
        .footer p {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }
