h1 {
    text-align: center;
}

.hilal1 {
    background-color: teal;
}

#hilal2 {
    background-color: brown;
    color: chocolate;
}
  body {
      background-color: #80BEE6;
            font-family: Italic;
            text-align: center;
            margin: 25px;
        }
    iframe {
            width: 100%;
            height: 600px;
            border: 2px solid #333;
        }
    .custom-div {
            background-color: #f0f0f0;
            padding: 10px;
            margin: 20px;
        }
    .custom-span {
            color: #007bff;
            font-weight: bold;
        }
    h2 {
        color:teal;
        text-align: center;
    }
    .hello {
        color:blueviolet;
        background-color: antiquewhite;
    }
 /* Class Selector */
        .nav-bar {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }

        /* Element Selector */
        .content {
            width: 200px;
            height: 200px;
            background-color: #3498db;
            margin: 20px; /* Margin for spacing between divs */
            padding: 20px; /* Padding inside each div */
            display: inline-block; /* Display divs in a row */
            transition: background-color 0.3s; /* Smooth transition for background color */
            overflow: hidden; /* Hide overflowing content */
           
        }
.content:hover{
            background-color: #e74c3c;
        }

        /* Descendant Selector */
        .footer p {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }
.footer img {
            width: 100%; /* Make the image fill the entire div */
            height: auto; /* Maintain the image's aspect ratio */
            filter: grayscale(50%) brightness(120%); /* Apply image filters */
            transition: filter 0.3s; /* Smooth transition for filters */
        }
     .footer:hover img {
            filter: none;
        }
.hidden-element {
    visibility: hidden;
}
.transparent-element {
    opacity: 0.5;
}
.no-display-element {
    display: none;
}
